body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('test5_bg.jpg');
    opacity: 0.6;
    z-index: -1;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.new_book_form {
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 380px;
    height: 300px;
}
.form-check-input input{width: 100%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-control{
    margin-bottom: 12px;
}

